<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="/img/SanJose.png">
        <title>SanjoSoft - Gestion de Alumnos</title>

        <!-- Bootstrap core CSS-->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top" th:fragment="nav">

            <img src="/img/SanJose.png" width="35px" heigth="35px" style="margin-right: 6px;">

            <a class="navbar-brand mr-1" th:href="@{/}" style="font-size: 18px;">UEP°26 San José Obrero</a>

            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Navbar Search -->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">

                    <div class="input-group-append">

                    </div>
                </div>
            </form>

            <!-- Navbar -->
            <ul class="navbar-nav ml-auto ml-md-0">


                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" style="color:background"><b sec:authorize="isAuthenticated()" sec:authentication="name"></b></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button></a>
                    </div>
                </li>
            </ul>

        </nav>


        <div id="wrapper" th:fragment="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav" th:fragment="sidebar">
                 <img src="/img/SanJose.png"  heigth="35px" style="margin-right: 6px;">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Secciones</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" th:href="@{/secciones/cursos}"><i class="fas fa-chalkboard"></i> Alumnado</a>
                        <a class="dropdown-item" th:href="@{/secciones/informes}"> <i class="fas fa-archive"></i> Informes</a>
                        <a class="dropdown-item" th:href="@{/secciones/mensajes}"><i class="far fa-envelope"></i> Mensajes</a>
                    </div>
                </li>
               
            </ul>

            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="alert alert-success" role="alert" th:if="${success != null}" th:text="${success}">

                    </div>

                    <div class="alert alert-warning" role="alert" th:if="${principal != null}" th:text="${flash}">

                    </div>

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active">Panel Principal</li>
                    </ol>

                    <!-- Icon Cards-->
                    <div class="row" th:fragment="icon_cards">
                        <div class="col-xl-4 col-sm-6 mb-4">
                            <div class="card text-white bg-primary o-hidden h-100" style="box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="mr-5">Alumnado</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" th:href="@{/secciones/cursos}">
                                    <span class="float-left">Ver Más</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 mb-4">
                            <div class="card text-white bg-danger o-hidden h-100" style="box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-archive"></i>
                                    </div>
                                    <div class="mr-5">Informes</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" th:href="@{/secciones/informes}">
                                    <span class="float-left">Ver Más</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 mb-4">
                            <div class="card text-white bg-success o-hidden h-100" style="box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="mr-5">Mensajes</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" th:href="@{/secciones/mensajes}">
                                    <span class="float-left">Ver Más</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Area Chart Example-->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-home"></i> Inicio
                        </div>
                        <div class="card-body">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 text-center">
                                        <br><br>
                                        <h3 class="text-center"><i class="far fa-hand-paper"></i> ¡Te damos la Bienvenida!</h3>

                                        <br>
                                        <b> SanjoSoft </b>
                                        <h4> Software de Gestión de Alumnos </h4>
                                        <br>
                                    </div>
                                    <div class="col-md-6 col-sm-12 text-center">
                                        <img src="img/SanJose.png">
                                        <h5>Página oficial de la Institución</h5>
                                        <a class="btn btn-primary" href="http://www.uep26sjo.edu.ar/"><i class="fas fa-school"></i> Ingresar</a>
                                        <br>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer" th:fragment="footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Desarrollado por ME-Sistemas 2018</span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Realmente quiere Cerrar Sesión?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Selecciona "Salir" para cerrar correctamente de sesión</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                            <button onclick="document.getElemetyById('logoutForm').submit();"
                                    type="submit" class="btn btn-primary">Salir</button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <script src="vendor/chart.js/Chart.min.js"></script>
        <script src="vendor/datatables/jquery.dataTables.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin.min.js"></script>

        <!-- Demo scripts for this page-->
        <script src="js/demo/datatables-demo.js"></script>
        <script src="js/demo/chart-area-demo.js"></script>

        <script>
                                $('.carousel').carousel();
        </script>

    </body>

</html>
