<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="/img/SanJose.png">
        <title>SanjoSoft - Gestion de Alumnos</title>

        <!-- Bootstrap core CSS-->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <div th:replace="index :: nav">

        </div>

        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav" th:fragment="sidebar">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Secciones</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" th:href="@{/secciones/cursos}"><i class="fas fa-graduation-cap"></i> Alumnos</a>
                        <a class="dropdown-item active" th:href="@{/secciones/informes}"><i class="fas fa-archive"></i> Informes</a>
                        <a class="dropdown-item" th:href="@{/secciones/mensajes}"><i class="far fa-envelope"></i> Mensajes</a>
                    </div>
                </li>
             
            </ul>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Informes</li>
                    </ol>

                    <!-- Icon Cards -->
                    <div th:replace="index :: icon_cards">

                    </div>

                    <!-- Elegir Examenes -->
                    <div class="card mb-3">

                        <div class="card-header" style="background: #00FA9A;">
                            <i class="fas fa-archive"></i> <b>Exámenes</b>
                        </div>

                        <div class="card-body" style="background: #F5FFFA;">

                            <div class="container">
                                <div class="row">

                                    <div class="col-12">
                                        <form th:action="@{/secciones/informes/ver}" method="post">
                                       
                                            <div class="row text-center">
                                                <div class="col">
                                                    <label>Materias: </label>
                                                    <select class="custom-select" size="2" name="materia" required>


                                                        <option th:each="m : ${materias}" th:value="${m.id}" th:text="${m.nombre_Materia} + ' (' + ${m.curso} + ')'"></option>

                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label>Exámenes: </label>
                                                    <select class="custom-select" size="3" name="examen" required> 


                                                        <option>Primer Examen</option>
                                                        <option>Segundo Examen</option>
                                                        <option>Tercer Examen</option>

                                                    </select>
                                                </div>
                                                <div class="col-12 col-6">
                                                    <br>
                                                    <input class="btn btn-primary" type="submit" value="Generar Informe">

                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <br>

                    <br>

                    <!-- Elegir Practicos -->
                    <div class="card mb-3">

                        <div class="card-header" style="background: #7B68EE;">
                            <i class="fas fa-archive"></i> <b>Prácticos</b>
                        </div>

                        <div class="card-body" style="background: #F5FFFA;">

                            <div class="container">
                                <div class="row">

                                    <div class="col-12">
                                        <form th:action="@{/secciones/informes/ver}" method="post">
                                            <div class="row text-center">
                                                <div class="col">
                                                    <label>Materias: </label>
                                                    <select class="custom-select" size="2" required>


                                                        <option th:each="m : ${materias}" th:text="${m.nombre_Materia} + ' (' + ${m.getCurso()} + ')'" ></option>

                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label>Prácticos: </label>
                                                    <select class="custom-select" size="3" required>


                                                        <option>Primer TP</option>
                                                        <option>Segundo TP</option>
                                                        <option>Tercer TP</option>

                                                    </select>
                                                </div>
                                                <div class="col-12 col-6">
                                                    <br>
                                                    <input class="btn btn-primary" type="submit" value="Generar Informe">

                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <br>

                    <br>

                    <!-- Elegir Trimestres -->
                    <div class="card mb-3">

                        <div class="card-header" style="background: #FF6347;">
                            <i class="fas fa-archive"></i> <b>Trimestres</b>
                        </div>

                        <div class="card-body" style="background: #F5FFFA;">

                            <div class="container">
                                <div class="row">

                                    <div class="col-12">
                                       <form th:action="@{/secciones/informes/ver}" method="post">
                                            <div class="row text-center">
                                                <div class="col">
                                                    <label>Materias: </label>
                                                    <select class="custom-select" size="2" required>


                                                        <option th:each="m : ${materias}" th:text="${m.nombre_Materia} + ' (' + ${m.getCurso()} + ')'" >One</option>

                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label>Trimestres: </label>
                                                    <select class="custom-select" size="3" required>


                                                        <option>Primer Trimestre</option>
                                                        <option>Segundo Trimetre</option>
                                                        <option>Tercer Trimestre</option>

                                                    </select>
                                                </div>
                                                <div class="col-12 col-6">
                                                    <br>
                                                    <input class="btn btn-primary" type="submit" value="Generar Informe">

                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <div th:replace="index :: footer">

            </div>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="index :: modal">

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>
